<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
    <title>Сравнение пользователей</title>
    <script src="https://www.google.com/jsapi"></script>
    <script>google.load('visualization', '1', {packages: ['corechart', 'bar']});google.setOnLoadCallback(draw);
    function draw()
    {
        var data = {{ data|safe }};
        var options = {
        focusTarget: 'category',
         hAxis: {
        textStyle: {
            fontSize: 14,
            bold: true,
            italic: false
        }
        },
        vAxis: {
            title: '',
            minValue: 0,
            maxValue: 100,
            textStyle: {
                fontSize: 18,
                bold: false,
                italic: false
            },
            titleTextStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: true,
                italic: false
            }
        }
        };
        for(var i in data)
        {
            var div = document.createElement('div');
            document.body.appendChild(div);
            var chart1 = new google.visualization.ColumnChart(div);
            options.vAxis.title = data[i][0];
            chart1.draw(data[i][1], options);
        }

    }
    </script>
{% endblock %}
