{% extends "base.html" %}

{% block body %}
    <div class="logo"><a href="/home"><img src="/static/logo2.jpg" class="logo_img"></a></div>
    <div class="wrapper">
        <div class="layer">
            <p class="home">
                Добро пожаловать в Pesto-web! <br><br>
                Это сайт с различной информацией о школьниках ЛКШ.<br>
                Вы можете найти себя на странице "Пользователи". Страница "Рейтинги" содержит рейтинг школьников по среднему времени, проведенному за дорешиванием, количеству rejected'ов его решений, количеству задач, сданных им с первой попытки. Остальные разделы будут доработаны позже.<br>
                Вы можете связаться с нами на странице "Обратная связь".<br><br>
                С Новым годом!
            </p>
        </div>
    </div>
    <div class="wrapper_button">
        <div class="layer_button">
            <a href="/users" class="button">Пользователи</a>
            <a href="/doreshka/rating" class="button">Рейтинги</a>
            <a href="/feedback/form" class="button">Обратная связь</a>
        </div>
    </div>
{% endblock %}
