<html>
    <head>
        <title>Pesto-web</title>
        <meta charset="utf-8">
        <style>
            body {
                background: #c7b39b url(../static/background.jpg);
                color: #fff;
            }
        </style>
    </head>
    <body>
        <p style="position:absolute;right:0;bottom:0;margin-bottom:0">Room 2.2</p>
        <font size="7">Pesto-web</font><br>
        <font size="4">Welcome to the Pesto-web. This site is realized counting statistics students. You can find yourself in the Users tab.<br>
            The remaining sections will dorabotanny later. Happy New Year.</font>

        <br>
        <br>
        <br>

        <menu>
            <li><a href="/users">Users</a></li>
            <li><a href="/doreshka/rating">Absolving</a></li>
        </menu>
    </body>
</html>
