<html>
    <head>
        <title>Пользователи - pesto-web</title>
    </head>

    <body>
        <table border="1">
            <tr>
                <td></td>
                <td width="500"><b>Фамилия, имя</b></td>
            </tr>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox"/> </td>
                    <td width="500"><a href="/user/{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
