<!DOCTYPE html>

{% extends "base.html" %}

<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <title>Пользователи - pesto-web</title>
    </head>

    <body>
        {% block body %}
            <table align="center" border="1" width="500">
                <tr class="name_title">
                    <td><b><p>Фамилия, имя</p></b></td>
                </tr>
                {% for user in users %}
                    <tr class="name_cell">
                        <td ><p><a class="text" href="/user/{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</a></p></td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </body>
</html>
